body {
    background: yellow;
}

h1 {
    color: black;
    text-align: center;
}
  
p.corpoDoTexto {
    color: blue;
    font-size: 30px;
}

p.corpoDoTexto2 {
    color: red;
    font-size: 30px;
}