.error{
    color: red;
    font-size: 10px;
}

p {
    font-size: 55px;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

div {
    width: 100px;
    height: 100px;
    background: red;
}

.div {
    background: orange;
}

#div, #div2 {
    background: blue;
}