.error{
    color: red;
    font-size: 10px;
}

p {
    font-size: 55px;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-style: italic;
    text-decoration: underline wavy blueviolet;
    letter-spacing: 10px;
    text-shadow: 10px 10px 10px red;
}


.app {
    display: flex;
    flex-direction: column;
    background-color: mediumslateblue;
    height: 100vh;
}

.content {
    background-color: palevioletred;
    flex-grow: 0.9;
}

.navbar {
    display: flex;
    background-color:darkkhaki;
    justify-content: space-between;

}

.menu_button {
    background-color: aqua;

}

.search_button {
    background-color:chartreuse;

}

.logo {
    background-color: orange;

}

